.login-container {
	margin: 30vh 40vw;
}

.email-input,
.password-input {
	border: none;
	border-bottom: 3px solid grey;
}

.email-input {
	margin-bottom: 5px;
}

.password-input {
	margin-bottom: 20px;
}
