%btn-base {
	text-align: center;
	border: none;
	padding: 5px;
	letter-spacing: 1.3px;
	border-radius: 2px 7px 2px 7px;
	height: 36px;
	text-transform: uppercase;
	font-weight: 300;
	word-spacing: 70%;
	cursor: pointer;
}

%btn-dis {
	cursor: default;
}

%btn-prm {
	color: #fbfffe;
	background-color: seagreen;
}

%btn-sec {
	color: rgb(64, 182, 115);
	background-color: rgba(251, 255, 254, 0.2);
	font-weight: 600;
}

%btn-prm-dis {
	@extend %btn-dis;
	background-color: rgba(64, 182, 115, 0.2);
	color: grey;
}

%btn-sec-dis {
	background-color: rgba(251, 255, 254, 0.2);
	color: rgba(64, 182, 115, 0.4);
	font-weight: 600;
}

%btn-sq {
	min-width: 40px;
}

%btn-sm {
	min-width: 70px;
}

%btn-md {
	min-width: 140px;
}

%btn-lg {
	min-width: 200px;
}

%btn-reg {
	height: 36px;
}

%btn-thn {
	height: 30px;
}

$sizes: ('sq', 'sm', 'md', 'lg');
$kinds: ('prm', 'prm-dis', 'sec', 'sec-dis');
$heights: ('reg', 'thn');

@each $size in $sizes {
	@each $kind in $kinds {
		@each $height in $heights {
			.btn-#{$kind}-#{$size}-#{$height} {
				@extend %btn-base;
				@extend %btn-#{$size};
				@extend %btn-#{$kind};
				@extend %btn-#{$height};
			}
		}
	}
}
