.card.editable-card {
	justify-content: space-around;

	.title {
		margin-bottom: 4px;
	}

	.card-container-no-text {
		padding: 2px;
		margin: 8px;
	}
}
.editable-card .title {
	margin-bottom: 4px;
}
