@use 'card-variables' as v;

.card-base {
	display: flex;
	flex-direction: column;
	background-color: rgba($color: white, $alpha: 0.9);
	border-radius: 3px;
	margin: 0;
	overflow: hidden;
}

.card-cover {
	width: 100%;
	object-fit: cover;
	margin-bottom: 10px;
}

%card-cover-md,
%card-cover-sm {
	height: 50%;
}

%card-cover-lg {
	height: 30%;
}

%card-hover {
	cursor: pointer;
	background-color: rgba($color: #ddf, $alpha: 0.9);
}

%card-noimage {
	justify-content: center;
}

.card {
	@extend .card-base;

	@each $size, $value in v.$sizes {
		&.card-#{$size} {
			height: $value;
			.card-content-text {
				display: -webkit-box;
				-webkit-line-clamp: map-get($map: v.$line-clamp, $key: $size);
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.card-cover {
				@extend %card-cover-#{$size};
			}
		}
		&.card-clickable {
			transition: background-color 0.3s ease;

			&:hover {
				@extend %card-hover;
			}
		}
		&.card-noimage {
			@extend %card-noimage;
		}
	}
}
.card-divider {
	margin: 0 auto;
	height: 0;
	width: 90%;
	border: 2px solid rgba(64, 182, 115, 0.7);
	border-radius: 5px;
}

.card-container {
	margin: 10px;
	h3 {
		margin: 4px 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	font-size: medium;

	&-no-text {
		@extend .card-container;
		overflow: hidden;
	}
}
