.warningFab {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.message {
	display: -webkit-box;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	// TODO: replace these with 'line-clamp: 3' when it's released
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-align: left;
	transition: max-width 0.4s, -webkit-line-clamp 0s;
}

.message:hover {
	max-width: 400px;
	-webkit-line-clamp: 10;
}

.message-container {
	background-color: lightgrey;
	color: #b00020;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
}

.icon {
	float: right;
}
